html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #333;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, "PingFang SC","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, sumary {
    margin: 0;
    padding: 0;
}

input, select,textarea {
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

ol, ul {
    list-style: none;
}

img,a {
    -webkit-touch-callout: none;
}

a,a:active,a:hover {
    text-decoration: none;
}

a,button,input,textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

hr {
    height: 1px;
    border: 0;
    background: #bdbdbd;
    margin: 10px 0;
}

.weui-dialog, .weui-toast {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    transform: scale(1) translate(-50%, -50%);
}

.weui-dialog.weui-dialog--visible, .weui-toast.weui-dialog--visible, .weui-dialog.weui-toast--visible, .weui-toast.weui-toast--visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}